:root {
  --purple: #b6a3ff;
  --purple-light: #f9f7ff;
  --orange: #f69d5b;
  --orange-light: #fef9f5;
  --yellow: #fed14e;
  --yellow-light: #fdf9ef;
  --gray: #e6e6e6;
  --blue: #76a8f4;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 1.6rem;
}

.container {
  max-width: 132rem;
  padding-inline: 4rem;
  margin-inline: auto;
  inline-size: 100%;
}
